if hexo-config('css_prefix')
  @import 'nib'
    
@import '_third-party/normalize.min.css'
// project
@import 'var'
@import '_global/*'
@import '_highlight/highlight'
@import '_page/*'
@import '_layout/*'
@import '_tags/*'
@import '_mode/*'
@import '_self/bootstrap.self.css'
@import '_self/styles.css'

// search
@import '_search/index'